## This discord App was built using Python 3.12.3

### Discord Library
##--------------------------------------------------------------------------------------------------------------------------------------------------
discord.py==2.6.4
python-dotenv==1.2.1